*{
    box-sizing: border-box;
}

body{
    background: #1c222b;
    color: aliceblue;
    text-align: center;
    font-family: 'Segoe UI','Roboto Mono';
}

.wraper{
    display: flex;
    /* border: 2px solid white; */
    justify-content: space-around;
}


.textarea{
    background-color: #161B22;
    color: aliceblue;
    border: none;
    min-width: 20vw;
    width: 45vw;
    height: 90vh;
    padding: 20px;
}

.preview-box{
    background-color: #161B22;
    width: 45vw;
    height: 90vh;
    padding: 20px;
    text-align: start;
    font-weight: 300;
    overflow: scroll;

}

code{
    padding: 2px;
    margin: auto;
    overflow: scroll;
    border-radius: 2px;
    background-color: #303a49c6;
}